<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
    <title>{{ feed.metadata.title }}</title>
    <link>{{ feed.metadata.link }}</link>
    <description>{{ feed.metadata.description }}</description>
    <language>{{ feed.metadata.language }}</language>
    <lastBuildDate>{{ feed.metadata.last_build_date }}</lastBuildDate>
    <ttl>{{ feed.metadata.ttl }}</ttl>
    <generator>RSS Buddy</generator>
    <pubDate>{{ feed.metadata.last_build_date }}</pubDate>

    {% for item in feed.items %}
    <item>
        <title>{{ item.title | escape }}</title>
        <description>{{ item.description }}</description>
        <link>{{ item.link }}</link>
        <guid isPermaLink="true">{{ item.link }}</guid>
        {% if item.pub_date %}
        <pubDate>{{ item.pub_date }}</pubDate>
        {% endif %}
    </item>
    {% endfor %}
</channel>
</rss>