<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
    <title>{{ input.metadata.title }}</title>
    <link>{{ input.metadata.link }}</link>
    <description>{{ input.metadata.description }}</description>
    <language>{{ input.metadata.language }}</language>
    <lastBuildDate>{{ input.metadata.last_build_date }}</lastBuildDate>
    <ttl>{{ input.metadata.ttl }}</ttl>
    <generator>RSS Buddy</generator>
    <pubDate>{{ input.metadata.last_build_date }}</pubDate>

    {% for item in input.items %}
    <item>
        <title>{{ item.title | escape }}</title>
        <description>{{ item.description }}</description>
        <link>{{ item.link }}</link>
        <guid isPermaLink="true">{{ item.link }}</guid>
        {% if item.pub_date %}
        <pubDate>{{ item.pub_date }}</pubDate>
        {% endif %}
    </item>
    {% endfor %}
</channel>
</rss>