Credentials:
- {{ input.credentials.url }}
- {{ input.credentials.filter_criteria }}

Metadata:
- {{ input.metadata.title }}
- {{ input.metadata.link }}
- {{ input.metadata.description }}
- {{ input.metadata.language }}
- {{ input.metadata.last_build_date }}
- {{ input.metadata.ttl }}

Items:{% for item in input.items %}
- {{ item.title }}
- {{ item.link }}
- {{ item.pub_date }}
- {{ item.description }}
- {{ item.guid }}
{% endfor %}